<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Welcome</h1>
            <p class="py-6">Enter the Lego World.</p>
            <button class="btn btn-primary">
              <a href="https://rebrickable.com/sets/">Start Now!!</a>
            </button>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="card bg-base-90 shadow-xl">
          <figure>
            <img class="w-full" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/800px-LEGO_logo.svg.png" alt="Technic" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Overview</h2>
            <p>The Lego Group began manufacturing the interlocking toy bricks in 1949.</p>
            <p>Films, games, competitions, and eight Legoland amusement parks have been developed under the brand.</p>
            <p>One of Europe's biggest companies, Lego is the largest toy manufacturer in the world by sales. As of July 2015, 600 billion Lego parts had been produced.</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary"><a href="https://en.wikipedia.org/wiki/Lego">View More</a></button>
            </div>
          </div>
        </div>
  
        <div class="card bg-base-90 shadow-xl">
          <figure>
            <img class="w-full" src="https://www.danielstores.co.uk/images/lego-classic-creative-bricks-set-with-storage-box-10692-p2158-3822_image.jpg" alt="Classic" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Classic Lego Set</h2>
            <p>Released in 2015, LEGO Classic is becoming popular in the LEGO community due to its rainbow of colors, large boxes, and endless possibilities.</p>
            <p>They offer truly endless possibilities, allowing fans to build anything they can think of and caters to all age groups.</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary"><a href="https://brickmechanics.com/what-is-lego-classic/">View More</a></button>
            </div>
          </div>
        </div>
        
        <div class="card bg-base-90 shadow-xl">
          <figure>
            <img class="w-full" src="https://3.bp.blogspot.com/-Ld3aGQFSzAM/VekLg6t7PfI/AAAAAAAArtw/obp4cZuhLwA/s1600/1414229079234348434.jpg" alt="Star Wars" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Star Wars Lego Set</h2>
            <p>Star Wars™ has been one of the most popular franchises in the world since 1977, and LEGO® Star Wars™ sets bring the "galaxy far, far away" a whole lot closer.</p>
            <p>Join the Jedi or the Sith and battle between the light and dark side of The Force. Our exciting collection contains the best gifts for girls and boys aged 6+ and adults who love all things Star Wars™.</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary"><a href="https://www.lego.com/en-in/themes/star-wars">View More</a></button>
            </div>
          </div>
        </div>
        
        <div class="card bg-base-90 shadow-xl">
          <figure>
            <img class="w-full" src="https://leganerd.com/wp-content/uploads/2019/06/75936_Box2_v39.jpg" alt="Jurassic" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Jurassic Park Lego Set</h2>
            <p>This fantastic 3,120-piece building toy includes 6 minifigures—including Ellie Sattler, Dr. Alan Grant, and Dennis Nedry—plus a baby dinosaur figure and a minifigure display stand with T. Rex facts plate and is sure to delight all Jurassic Park and Jurassic World fans.</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary"><a href="https://www.lego.com/en-in/kids/sets/jurassic-world/jurassic-park-t-rex-rampage-868358c436394791821b677dfdfe261c">View More</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
